#sq-container {
    max-width:290px;
}

#sq-container a.paybutton {
    width: 120px;
}

@media only screen and (min-width: 410px) {
    #sq-container h3, #sq-container div.defaultmessage {
        white-space: nowrap;
    }
}

.third {
    float: left;
    width: calc((100% - 32px) / 3);
    padding: 0;
    margin: 0 16px 16px 0;
}

.third:last-of-type {
    margin-right: 0;
}

/* Define how SqPaymentForm iframes should look */
.sq-input {
    height: 56px;
    box-sizing: border-box;
    border: 1px solid #E0E2E3;
    background-color: white;
    border-radius: 6px;
    display: inline-block;
    -webkit-transition: border-color .2s ease-in-out;
    -moz-transition: border-color .2s ease-in-out;
    -ms-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
}

/* Define how SqPaymentForm iframes should look when they have focus */
.sq-input--focus {
    border: 1px solid #4A90E2;
}

/* Define how SqPaymentForm iframes should look when they contain invalid values */
.sq-input--error {
    border: 1px solid #E02F2F;
}

#sq-card-number {
    margin-bottom: 16px;
}
