#sq-container {
    max-width:300px;
}

#card-container {
    padding: .5em;
}

#sq-container a.paybutton {
    width: 120px;
}

@media only screen and (min-width: 410px) {
    #sq-container h3, #sq-container div.defaultmessage {
        white-space: nowrap;
    }
}
